<ion-header>
	<ion-navbar color="primary">

		<ion-title class="home-title">Secret Santa</ion-title>
	
		<button class="google-login-button" ion-button color="primary" type="button">
			<ion-icon name="logo-google"> Login </ion-icon>
		</button>
	
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form #gn="ngForm">
		<ion-card>
		
			<ion-list>
				<ion-item>
					<ion-label color="primary" floating> Enter Group Name </ion-label>
					<ion-input type="text" name="groupname" [(ngModel)]="santaGroupName" required></ion-input>
				</ion-item>
			</ion-list>

			<ion-card-header color="primary">
				Total Santas: {{ totalSantas.length }}
			</ion-card-header>

		</ion-card>
	</form>

	<br>

	<form (ngSubmit)="onSubmit(f)" #f="ngForm">

		<button ion-button color="primary" type="submit" [disabled]="!f.valid || !totalSantas.length || !gn.valid" margin-right>Submit</button>

		<button ion-button color="secondary" type="button" (click)="addSanta()">
			<ion-icon name="add"></ion-icon>
		</button>

		<button ion-button color="danger" type="button" (click)="removeSanta()">
			<ion-icon name="remove"></ion-icon>
		</button>

		<br><br>

		<ion-list *ngIf="totalSantas.length">
			<ion-item *ngFor="let santa of totalSantas">
				<ion-label color="primary" clearInput> {{ santa }} </ion-label>
				<ion-input type="text" ngModel name="{{ santa }}" required></ion-input>
			</ion-item>
		</ion-list>

	</form>

</ion-content>
