<ion-header>
	<ion-navbar color="primary">
		<ion-title>Secret Santa</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<ion-card>
		<ion-card-header>
			Total Santas:
		</ion-card-header>
		<ion-card-content>
			{{ totalSantas.length }}
		</ion-card-content>
	</ion-card>
	
	<br>

	<form (ngSubmit)="onSubmit(f)" #f="ngForm">

		<button ion-button color="primary" type="submit">Submit</button>

		<button ion-button color="secondary" type="button" (click)="addSanta()">
			<ion-icon name="add"></ion-icon>
		</button>

		<button ion-button color="danger" type="button" (click)="removeSanta()">
			<ion-icon name="remove"></ion-icon>
		</button>

		<br><br>

		<ion-list *ngIf="totalSantas.length">
			<ion-item *ngFor="let santa of totalSantas">
				<ion-label color="primary" clearInput> {{ santa }} </ion-label>
				<ion-input type="text" ngModel name="{{ santa }}"></ion-input>
			</ion-item>
		</ion-list>

	</form>

</ion-content>
